services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ./public:/var/www/html/public
      - ./src:/var/www/html/src
      - ./templates:/var/www/html/templates
      - ./config:/var/www/html/config
      - ./migrations:/var/www/html/migrations
      - ./.env:/var/www/html/.env
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: qwitter
      DB_USER: postgres
      DB_PASSWORD: password
      DATABASE_URL: postgresql://postgres:password@db:5432/qwitter?serverVersion=15&charset=utf8

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: qwitter
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password

  pgadmin:
      image: dpage/pgadmin4
      environment:
        PGADMIN_DEFAULT_EMAIL: admin@admin.com
        PGADMIN_DEFAULT_PASSWORD: admin
      ports:
        - "8081:80"
      volumes:
        - pgadmin_data:/var/lib/pgadmin
      depends_on:
        - db

volumes:
  postgres_data:
  pgadmin_data: